@import 'https://fonts.googleapis.com/css?family=Oswald';

body {
    background: #2d5a3d url("images/background.jpg") no-repeat center center fixed;
    background-size: cover;
    max-width: 800px;
    margin: 50px auto 0;
    color: white;
    font-family: 'Oswald', sans-serif;
}
a {
  color: #90cb47;
}
a:visited {
  color: #76ae31;
}
a:hover, a:focus {
  color: #a8d66f;
}
